.background{
  background-color: #fc03db;
  margin:0px;
}

.header{
  padding-top: 39px;
  width: 100%;
  height: 70px;
  background-color: black;
}

.links{
  padding-left: 25px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
}
