.background{
  background-color: #fc03db;
  margin:0px;
}

.header{
  padding-top: 30px;
  width: 100%;
  height: 70px;
  background-color: black;
}

.side-bar{
  margin: 8px 8px 8px 8px ;
  border-radius: 10px;
  width: 230px;
  height: 1531px;
  background-color: black;

}

.poem-link{
  padding-left: 25px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
  display:flex;

}

.content{
  margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.qwe{
  display:flex;
}
