.background{
  background-color: #fc03db;
  margin:0px;
}

.header{
  padding-top: 30px;
  width: 100%;
  height: 70px;
  background-color: black;
}

.side-bar{
  margin: 8px 0px 8px 8px ;
  border-radius: 10px;
  width: 230px;
  height: 678px;
  background-color: black;

}

.poem-link{
  padding-left: 25px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
  display:flex;

}

.content{
  margin: 8px;
      border-radius: 10px;
      width: 613px;
      padding-left: 20px;
      height: 316px;
      background-color: black;
      color: white;
      font-size: 20px;
      padding-top: 10px;
      margin-left: auto;
        margin-right: auto;

}



.qwe{
  display:flex;
}
