.background{
  background-color: #fc03db;
  margin:0px;
}

.header{
  padding-top: 39px;
  width: 100%;
  height: 70px;
  background-color: black;
}

.links{
  padding-left: 25px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
}

.content{
  margin: 8px 200px 8px 8px;
    border-radius: 10px;
    width: 600px;
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 171px;
}

.poem-link{
  padding-left: 25px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
  display:flex;

}

.side-bar{
  margin: 8px 0px 8px 8px ;
  border-radius: 10px;
  width: 230px;
  height: 258px;
  background-color: black;

}

.qwe{
  display:flex;
}
