.wrapper{
  background-color: #fc03db;
  height: 750px;
}

.img-place{
  padding-left: 33%;
  padding-top: 1%;
}

.img{
  width: 400px;
}

.congrat-up{
  padding-left: 3%;
  font-size: 25px;
}

.congrat-down{
  padding-left: 21%;
  font-size: 25px;
}





.header{
  padding-top: 39px;
  width: 100%;
  height: 70px;
  background-color: black;
}

.links{
  padding-left: 140px;
  padding-top: 25px;
  color: white;
  text-decoration:none;
}

.content{
  margin: 8px 200px 8px 8px;
    border-radius: 10px;
    width: 600px;
    padding: 10px 10px 10px 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
